$aniDir: 7s;
$timing: linear;

.digit-chunk,
.digits>span::after,
.ampm,
.ant-time-picker-input{
	animation-iteration-count: infinite;
	animation-duration: $aniDir;
	animation-timing-function: $timing;
}

.digit-chunk,
.digits>span::after,
.ampm{
	animation-name: colorize;
}

.ant-time-picker-input:not([disabled]){
    animation-name: alarmBorders;
}

@for $i from 1 through 7 {
    .digit-chunk:nth-child( #{$i} ){
		animation-delay: -#{ $i * 2 }s;
	};
}

$color1: rgb(136, 228, 31);
$color2: rgb(34, 226, 50);
$color3: rgb(39, 185, 221);
$color4: rgb(29, 120, 194);

@keyframes alarmBorders{
    0%{
        border-color: $color1;
    }
    50%{
        border-color: $color4;
    }
    100%{
        border-color: $color1;
    }
}

@keyframes colorize{
	0%{
		fill: $color1;
		color: $color1;
	} 
	25%{    
		fill: $color2;
		color: $color2;
	}
	50%{
		fill: $color3;
		color: $color3;
	}
	75%{
		fill: $color4;
		color: $color4;
	}
	100%{
		fill: $color1;
		color:$color1;
	}
}

.digit-cont{
	animation-name: startIn;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	transition-delay: 1s;
}

@for $i from 1 through 42 {
	.digit-cont:nth-child( #{$i} ){
		animation-delay: #{ $i/25 }s;
	};
}

@keyframes startIn{	
	0%{
		opacity: 0;
	}
	20%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}