$aniDir: 15s;
$timing: cubic-bezier(.25,0,.81,1);

.digit-chunk,
.digits>span::after,
.ampm{
	animation-iteration-count: infinite;
	animation-duration: $aniDir;
	animation-timing-function: $timing;
}

.digit-chunk,
.digits>span::after,
.ampm{
	animation-name: colorize;
}

$color1: rgb(67, 150, 206);
$color2:rgb(38, 111, 179);
$color3:  rgb(120, 32, 235);
$color4: rgb(235, 32, 100);

@for $i from 1 through 7 {
	.digit-chunk:nth-child( #{$i} ){
		animation-delay: -#{ $i * 2 }s;
	};
}

@keyframes colorize{
	0%{
		fill: $color1;
		color: $color1;
	} 
	25%{    
		fill: $color2;
		color: $color2;
	}
	50%{
		fill: $color3;
		color: $color3;
	}
	75%{
		fill: $color4;
		color: $color4;
	}
	100%{
		fill: $color1;
		color:$color1;
	}
}

.digit-cont{
	animation-name: startIn;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	transition-delay: 1s;
}

@for $i from 1 through 42 {
	.digit-cont:nth-child( #{$i} ){
		animation-delay: #{ $i/25 }s;
	};
}

@keyframes startIn{	
	0%{
		opacity: 0;
	}
	20%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}